@import 'button.css';

:root {
  --Gray: #bababa;
  --Black1: #414141;
  --LightLightBlue: #E7EFF6;
  --LightBlue: #54BBF4;
  --Orange: #fdb230;
  --Green: #55AD66;
  --purple: #7382BF;
  --White: #ffffff;
}

/*Pre Set*/

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1, h2, p {
  margin: 0;
}

.wrapper {
  max-width: 320px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  margin: auto;
}

/*CSS*/

.presentation {
  display: flex;
  flex-direction: column;
  padding-block-start: 16px;
}

.presentation h2 {
  text-align: center;
  color: var(--Black1);
  font-weight: 400;
  font-size: 16px;
}

.presentation img {
  width: 200px;
  margin: auto;
}

/*---FORM---*/

.form {
  padding-block: 16px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-end: 16px;
}

.form-content label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--Black1);
}

.input-login {
  border: 1px solid var(--Gray);
  border-radius: 12px;
  padding-block: 16px;
  padding-inline: 12px;
}

.input-login::placeholder {
  color: var(--Gray);
}

/*MANTENER SESION Y RECUPERAR PASS*/

.form-option {
  display: flex;
  justify-content: space-between;
  margin-block-end: 16px;
}

.form-option label {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.form-option a {
  font-size: 12px;
  color: var(--LightBlue);
  font-weight: 500;
}

/*SESION CON REDES SOCIALES*/

.register {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block-end: 16px;
}

.or-space {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  position: relative;
}

.or-space::before {
  content: '';
  width: 45%;
  height: 1px;
  display: inline-block;
  background: var(--Gray);
  position: absolute;
  bottom: 50%;
  left: 0;
}

.or-space::after {
  content: '';
  width: 45%;
  height: 1px;
  display: inline-block;
  background: var(--Gray);
  position: absolute;
  bottom: 50%;
  right: 0rem;
}

.register p {
  font-size: 12px;
  text-align: center;
}

.register p a {
  color: var(--LightBlue);
  text-decoration: none;
  font-weight: 500;
}